<div class="py-8">
    {% paginate blog.articles by section.settings.number_of_blog_post %}

        <h1 class="text-center text-3xl">{{ blog.title }}</h1>

        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for article in blog.articles %}
                    <div class="flex flex-col justify-start items-start gap-2 py-6 px-3 bg-white shadow-xl rounded-lg">
                        {% if article.image != blank %}
                            <img src="{{ article.image | img_url: 'medium' }}" class="w-full h-96 object-cover object-top" alt="{{ article.image.alt }}">
                        {% else %}
                            {{ 'image' | placeholder_svg_tag: 'w-full h-96 object-cover object-top' }}
                        {% endif %}
                        <h2 class="text-4xl my-3 font-medium">{{ article.title }}</h2>
                        {% if section.settings.enable_author %}
                            <span class="text-2xl">{{ article.author }}</span>
                        {% endif %}
                        {% if section.settings.enable_date %}
                            <span class="text-xs my-2">{{ article.published_at | date: '%Y-%m-%d'}}</span>
                        {% endif %}
            
                        {% if article.excerpt.size > 0 %}
                            <p>{{article.excerpt | strip_html | truncatewords: 18 }}</p>
                        {% else %}
                            <p>{{ article.content | strip_html | truncatewords: 18 }}</p>        
                        {% endif %}

                        <a href="{{ article.url }}" class="font-medium my-3 text-blue-600 hover: text-blue-800">{{ section.settings.blog_read_more}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
        </div>
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "range",
            "id": "number_of_blog_post",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Blog posts per page",
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_date",
            "default": true,
            "label": "Display Published Date"
        },
        {
            "type": "text",
            "id": "blog_read_more",
            "default": "Read More",
            "label": "Read More Label"
        }
    ]
}
{% endschema %}